@charset "UTF-8";

/* Ideally this should be in a colours.less somewhere in AUI */
@aui-bright-blue: #3b73af;
@aui-gray: #999;
@aui-light-gray: #ccc;
@aui-highlight-gray: #e9e9e9;


#customcontent-section .quick-customcontent-container.add,
#comments-section .quick-comment-container.add {
    border-top: 0;
    margin-top: 10px;
}

.quick-customcontent-prompt,
.quick-customcontent-loading-container,
.quick-comment-prompt,
.quick-comment-loading-container {
    color: @aui-gray;
    margin-left: 42px;
    padding-top: 5px;
}

.quick-customcontent-error-box,
.quick-comment-error-box {
    margin-left: 18px;
    width: 100%;
}

.quick-customcontent-prompt,
.quick-comment-prompt {
    border: 1px @aui-light-gray solid;
    border-radius: 3px;
    height: 42px;
    box-shadow: inset -1px 1px 5px rgba(0, 0, 0, 0.1);
}

.quick-customcontent-prompt:active,
.quick-comment-prompt:active {
    border: 1px @aui-bright-blue solid;
    color: @aui-bright-blue;
}

.quick-customcontent-prompt span,
.quick-comment-prompt span {
    padding: 6px;
}

.quick-customcontent-loading-container,
.quick-comment-loading-container {
    background-color: @aui-highlight-gray;
    border: 1px solid @aui-light-gray;
    padding-left: 5px;
    display: none;
    height: 211px;
    width: 100%;
}

.quick-customcontent-loading-message,
.quick-comment-loading-message {
    background-image: url(../../../images/icons/wait.gif);
    background-position: .5em 50%;
    background-repeat: no-repeat;
    color: @aui-gray;
    display: none;
    padding-left: 28px;
    padding-top: 5px;
    margin: 0px;
}

/* Height here should match the height of the quick-comment-loading-container (including borders and padding) */
.quick-customcontent-vertical-spacer,
.quick-comment-vertical-spacer {
    display: none;
    float: left;
    height: 262px;
    left:-69px;
    position: relative;
    width: 1px;
}

/* Stops AUI from pushing down the quick comment form */
form.aui.quick-customcontent-form,
form.aui.quick-comment-form {
    margin-top: 0;
}